<div id="<%= dom_id call %>">
  <p>
    <strong>User:</strong>
    <%= call.user.email %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= call.client.name %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= call.reason.name %>
  </p>

</div>
