
<%= render @call %>

<div>
  <%= link_to "Edit this call", edit_call_path(@call) %> |
  <%= link_to "Back to calls", calls_path %>

  <%= button_to "Destroy this call", @call, method: :delete %>
</div>
